{% extends "cosmic_base.html" %}
{% block title %}Plugins{% endblock %}
{% block head_additions %}
{% endblock %}
{% block content %}
<h1>Plugins</h1>

  <table class="table table-hover">
    <thead>
      <tr>
	<th></th>
	<th>Name</th>
	<th>Section</th>
	<th>Description</th>
	<th>Version</th>
	<th></th>
      </tr>
    </thead>
    {% for plugin in plugins %}
    <tbody>
      <tr>
	<td>
	  {% if plugin.enabled %}
	  <a href="plugins/{{plugin.id}}/disable">Enabled</a>
	  {% else %}
	  <a href="plugins/{{plugin.id}}/enable">Disabled</a>
	  {% endif %}
	</td>
	<td>{{plugin.name}}<br/>
	  ({{plugin.id}})</td>
	<td>{{plugin.section}}</td>
	<td>{{plugin.descyription}}</td>
	<td>{{plugin.version}}</td>
	<td><a href="plugins/{{plugin.id}}/details">Details</a></tr>
	</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

{% endblock %}
